

<section style="z-index:-100">
  <div class="wave wave1" style="z-index:-900"></div>
  <div class="wave wave2" style="z-index:-900"></div>
  <div class="wave wave3" style="z-index:-900"></div>

  <div class="box" style="z-index:100">
    <div class="page">
      <div class="title-div">
        <img src="../../assets/board6.png" alt="">
  
      </div>
      
      
      <div class="flex" style="z-index: 10;">
        
       
              <app-form></app-form>
            
              <app-rules></app-rules>
  
      </div>
  
      
    
    </div>
  
  
  </div>
  
  
  
  
</section>

