
<td>{{nivel._id}}</td>
<td scope="row">{{ nivel.nome }}</td>
<td>{{ tabuleiro.nome }}
    <app-tabuleiro [styles]="{'background-color': tabuleiro.cor }" ></app-tabuleiro>
</td>
<td>{{ peca.nome }}<br><br>
    Lado A
    <app-peca [styles]="{'background-color': peca.corLadoA }"></app-peca>
    Lado B
    <app-peca [styles]="{'background-color': peca.corLadoB }"></app-peca>
</td>
<td>{{ nivel.valorDeAposta }}</td>
<td>
    <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/nivel/', nivel._id]">
        Editar
    </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="deletaNivel(nivel)">
        Remover
    </button>
</td>