<div class="box">
  <div class="page">
    <h1>Trilha - Componentes</h1>
    <h3>Uma demonstração dos componentes que serão utilizados no desenvolvimento do site "Trilha"</h3>
    
    <div class="flex">
      <div class="c1">
        <div class="bt">
          <div class="txt">Botão:</div>
          <div class="bt1">
            <app-button height="20px" title="ENTRAR"></app-button>
          </div>
        </div>
      </div>
      <div class="c2">
        <div class="alert">
          <div class="txt">Textbox:</div>
          <div class="tb1">
            <textbox title="Senha"></textbox>
          </div>
        </div>
      </div>
      <div class="c3">
        <div class="loader">
          <div class="txt">Loader:</div>
          <div class="ld1">
            <app-loader></app-loader>
          </div>
        </div>
      </div>
      <div class="c4">
        <div class="form">
          <div class="txt">Form:</div>
          <div class="ld1">
            <app-form></app-form>
          </div>
        </div>
      </div>
    </div>
    
  
  </div>
</div>

<!-- 
<app-button title="ENTRAR"></app-button>
<div class="home">
  <div class="page_title">TRILHA - COMPONENTES</div>
  <div class="main">
    <div class="parent">
      <div>Botões</div>
      
        <app-button title="ENTRAR"></app-button>
      
    </div>
  </div>
</div> -->