<h1></h1>

<div class="home">

  <div class="page_title">TRILHA</div>

  <div class="main">
    <div class="parent">
      <div>LOGIN</div>

      <div class="textfield">
        <div>
          <input class="text" type="text" name="name" id="name" />
        </div>
        <div>
          <input class="text" type="text" name="name" id="name" />
        </div>
      </div>


      <div class="flex">
        <div class="child_1">
          <app-button title="ENTRAR"></app-button>
        </div>
        <div class="child_2">
          <app-button title="SAIR"></app-button>
        </div>
      </div>

    </div>


    <div class="parent2">
      <div>REGRAS</div>


      <div class=slides>
        <ul class="slider">
          <li>
            <input type="radio" id="slide1" name="slide" checked>
            <label for="slide1"></label>
            <img src="../assets/R.jpeg" />
          </li>
          <li>
            <input type="radio" id="slide2" name="slide">
            <label for="slide2"></label>
            <img src="../assets/R2.jpeg" />
          </li>
          <li>
            <input type="radio" id="slide3" name="slide">
            <label for="slide3"></label>
            <img src="../assets/R3.jpeg" />
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="test">TESTE

      <div class="child_3">
        <app-button title="JOGAR"></app-button>
      </div>
     
    
  </div>
</div>