<form class="form">
  <p class="form-title">REGRAS</p>




  <carousel [autoplayInterval]="6000" [arrows]="true" [height]="300" [dots]="true" [arrowsTheme]="'dark'">
    <div class="carousel-cell">
      <p class="text-slide2"> &#x2022; Peças - 18 peças sendo 9 vermelhas e 9 azuis.<br>
        &#x2022; O tabuleiro possui 24 casas interligados horizontalmente e verticalmente.<br>
        <b>Objetivo - Deixar o adversário com 2 peças no tabuleiro ou deixá-lo sem movimentos.</b><br><br>
        <b>O jogo consiste em três partes principais que serão mostradas a seguir</b>
      </p>
    </div>

    <div class="carousel-cell">
      <p class="text-slide2"> <b>(1ª FASE)</b><br> Cada jogador coloca um peça alternando entre jogadores, caso um dos
        jogadores forme uma linha horizontal ou vertical com três peças (um moinho), <b>ele terá o direito de remover
          uma peça de seu adversário do tabuleiro.</b>
      </p>
    </div>
    <div class="carousel-cell">
      <p class="text-slide2"> Após todos colocarem suas nove peças em jogo, eles movem suas peças ao longo de uma das
        linhas do tabuleiro para uma outra casa adjacente.
      </p>
    </div>
    <div class="carousel-cell">
      <p class="text-slide2"> <b>(2ª FASE)</b><br> Quando um jogador forma uma linha horizontal ou vertical com 3 peças
        ele fará um "moinho", isso lhe dá o direito de remover uma peça de seu adversário, contudo você não poderá
        remover uma peça do seu adversário que faz parte de um moinho dele, a não ser que não exista outra peça para
        remover.
      </p>
    </div>
    <div class="carousel-cell">
      <p class="text-slide2"> <b>Extra:</b><br>

        Se ambos jogadores ficarem com 3 peças em jogo e em 10 jogadas não houver vencedor, o jogo terminará e será
        declarado um empate.
      </p>
    </div>
  </carousel>


</form>