<section class="overlay" style="z-index:-1000">



    <div style="height: 100px; width: 100px;">

        <div class="modal-header" data-mdb-backdrop="false">
            <h5 class="modal-title" id="exampleModalLabel">CADASTRO</h5>

        </div>
        <!-- <div class="flex-column">

            <div class="input-group">
                <input required="" formControlName="name" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Usuário</label>
            </div>

            <div class="input-group">
                <input required="" formControlName="senha" type="password" name="text" autocomplete="off" class="input">
                <label class="user-label" for="name">Senha</label>
            </div>
        
        </div>
        <div class="modal-footer content-center w-100">
            <button type="button" class="btn btn-secondary" (click)="modalRef2.close()">
                Ok, entendi
            </button>
       
        </div> -->

    </div>

</section>