.box{
    background:url("/assets/bgtest.png"); 
 background-repeat: no-repeat;
 background-size:cover;
 background-repeat: repeat;
    position:absolute;
    background-color: rgb(48, 21, 73);
    
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}


.scrollit {
    overflow:scroll;
    height:220px;
}

h3{
    margin: 30px;
    color: azure;
}

h4{
    color: azure;
}

label{
    color: aliceblue;
}
.row33{
    margin-right: 50px;
}
.row{

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;
    height: 200px;
    color: azure;
}

th{
    color: azure;
}

td{
    color: azure;
}



.form-group{
    width: 100px;
    margin-right: 20px;
}


.form-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-control{
    height: 25px;
}

.btn-primary{

    margin-top: 20px;
}