<div class="box">
    <h3>ADMINISTRAÇÃO</h3>

    <div class="row">
      <!-- Issue table -->
      <div class="col-md-12">
        <div class="inner">
          <h4>Lista de níveis do jogo:</h4>

          <div class="scrollit">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tabuleiro</th>
                    <th scope="col">Peça</th>
                    <th scope="col">Monetização</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let issues of IssuesList">
                    <th scope="row">{{ issues.id }}</th>
                    <td>{{ issues.issue_name }}</td>
                    <td>{{ issues.issue_message }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-success btn-sm move-right"
                        [routerLink]="['/edit-issue/', issues.id]"
                      >
                        Edit
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="deleteIusse(issues)"
                      >
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          
        </div>
      </div>
    </div>


    <div class="divisa"></div>

    
        <div class="row3">
          <!-- Form -->
          <div class="col-md-12">
            <h3>Adicionar nível</h3>
            <form [formGroup]="issueForm" (ngSubmit)="submitForm()" novalidate>
              <div class="form-group">
                <label>Issue</label>
                <input
                  type="text"
                  formControlName="issue_name"
                  class="form-control"
                  maxlength="20"
                />
              </div>
              <!-- <div class="form-group">
                <label>Issue Details</label>
                <textarea
                  class="form-control"
                  formControlName="issue_message"
                  rows="3"
                  maxlength="50"
                ></textarea>
              </div> -->
              <button type="submit" class="btn-primary">Submit</button>
            </form>
          </div>
        </div>
      
      

  </div>