.menu-bar {
	border-radius: 25px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(242, 226, 255, 0.74);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  background-image: url("../../assets/bg.png");
  background-size: cover;
	align-items: center;
	padding: 0 10px;
	margin-top: 0px;
    border:solid 3px rgb(74, 38, 131);
	li {
		list-style: none;
		color: rgb(11, 1, 14);
		font-family: sans-serif;
		font-weight: bold;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			border-radius: 25px;
		}
			&:hover {
				&::before {
					background: linear-gradient(to bottom, #ceb3ff9f, #c79cff9d);
						box-shadow: 0px 3px 20px 0px black;
						transform: scale(1.2);
				}
				color: black;
		}
	}
}
