<div class="box">
    <h3>ADMINISTRAÇÃO</h3>
    <div class="form-flex">
        <div class="row">
            <!-- Issue table -->
            <div class="col-mds-12">
                <div class="inner">
                    <h4>Tabuleiros:</h4>
                    <button type="button" class="btn btn-success btn-sm move-right"
                        [routerLink]="['/tabuleiro/novo']">
                        Novo
                    </button>
                    <div class="scrollit">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Cor</th>
                                    <th scope="col">Operação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tabuleiro of tabuleiros">
                                    <th scope="row">{{ tabuleiro._id }}</th>
                                    <td>{{ tabuleiro.nome }}</td>
                                    <td>{{ tabuleiro.cor }}</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm move-right"
                                            [routerLink]="['/tabuleiro/', tabuleiro._id]">
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm"
                                            (click)="deletaTabuleiro(tabuleiro)">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>