<section style="z-index:-100">
  <div class="wave wave1" style="z-index:-900"></div>
  <div class="wave wave2" style="z-index:-900"></div>
  <div class="wave wave3" style="z-index:-900"></div>

  <div *ngIf="div1" class="box" style="z-index:100">
    <div class="page">
      <div class="title-div">
        <img src="../../assets/board6.png" alt="">

      </div>


      <div class="flex" style="z-index: 10;">



        <app-user-card [title]='user' [hide]="div1Function"></app-user-card>

        <app-rules></app-rules>

      </div>

      <div class="button-flex">

        <button (click)="logoutUser()" class="button1">SAIR</button>

        <button (click)="div1Function()" class="button2">JOGAR</button>


        <button (click)="submitForm()" class="button3"></button>

        <button (click)="submitForm()" class="button4"></button>
      </div>






    </div>


  </div>


  <div *ngIf="div2" class="div2">

    
    <div class="loading-text">
      Encontrando seu oponente!
    </div>

    <div>
      <img src="../../assets/gif.gif">
    </div>
    <div class="loading">
    
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-light" role="status">
          <span class="sr-only"></span>
        </div>
        
      </div>
      <!-- <div class="loading-text2">
        Carregando....
      </div> -->

      <div class="cancelar">
        <button (click)="div3Function()" class="button">CANCELAR</button>
      </div>

    
    </div>
    <div class="loading-text">
      DICA: Não sei economia básica
    </div>


  </div>

</section>