

/* .home{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}






.bg
{
    
 margin:0px;
 height:100%;
 width:100%;
 background:url("/assets/bg_2.png"); 
 background-repeat: no-repeat;
 background-size:cover;
 opacity: 0.2;
}








.page_title{
    flex: 1;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
}

.text{
    
    border-radius: 10px;
}

.main{
    display: flex;
    flex: 4;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    width: 10%;
    align-items: flex-start;
}


.parent2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: x-large;
    width: 40%;
    height: 500px;
    border: 2px solid rgb(80, 9, 111);
    border-radius: 20px;
    background-color: rgb(254, 255, 255);
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}


.parent>.child_1 {
    flex: 1;
    justify-content: space-around;
}

.parent>.child_2 {
    flex:1;
    justify-content: space-around;
}

.child_3{
    width: 1000px;
    margin-left: 25%;
}

.slider {
    display: block;
    height: 100%;
    width: 500px;
    margin: 0px;
    margin-top: 0px;
    align-content: center;
    align-items: center;
    align-self: center;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    background-size:cover;
    margin: 0px;
    height: 100%;
    width: 70%;
    align-items: center;
    align-self: center;
    align-content: center;
    
    
}

.slider input {
    display: none;
}
.slider label {
    background-color: rgb(255, 255, 255);
    border: 2px solid blueviolet;
    border-radius: 20px;
    bottom: 0px;
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 30px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 100px;

}

.slider li:nth-child(2) label {
    left: 80px;
    bottom:  -20px;
}

.slider li:nth-child(3) label {
    left: 100px;
    bottom:  13px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slides{
    display: flex;
    align-items: center;
    justify-content: center  ;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.test{

} */

.test5{
  text-shadow:0.1rem 0.1rem 0.05rem #e4dfff;
}

.c1{
    border: 4px solid rgb(48, 24, 136);
        border-radius: 30px;
    display: flex;
    height: 200px;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.c2{
    border: 4px solid rgb(48, 24, 136);
        border-radius: 30px;
    display: flex;
    height: 200px;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.c3{
    border: 4px solid rgb(48, 24, 136);
        border-radius: 30px;
    display: flex;
    height: 200px;
    width: 500px;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* .bt{

    border: 4px solid rgb(48, 24, 136);
    border-radius: 30px;
    position: absolute;
    height: 200px;
    width: 220px;
    display: flex;
    align-items: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    
} */

/* .alert{
   

        border: 4px solid rgb(48, 24, 136);
        border-radius: 30px;
        position: relative;
        height: 200px;
        width: 220px;
        display: flex;
        align-items: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        
    
} */
.bt1{
    width: 350px;
    height: 30px;
    position: relative;
    margin: 30px;
}

.txt{
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
}

.page{
    margin: 5vh;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.button-flex{

   bottom: 0;
   top: 0;

    margin-left: 10vw;
    margin-top: 4vh;
    width: 30vw;
    display: flex;
    height: 20vh;
    justify-content: space-between;
}
.button1{
    height: 7vh;
    font-weight: bold;
    background-color: rgb(250, 184, 184);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(148, 22, 106) ;
    width: 5vw;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }

  .button2{
    height: 7vh;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 7vw;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }
  .button3{
    height: 7vh;
    font-weight: bold;
    background-image: url("../../assets/ranking.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    background-size: 45%;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 6vw;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }
  .button4{
    height: 7vh;
    font-weight: bold;
    background-image: url("../../assets/shop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    background-size: 45%;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 6vw;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }

  .button1:hover{
    background-color: rgb(97, 14, 41);
    color: white;
}

.button2:hover{
  background-color: rgb(60, 74, 169);
  color: white;
}
.button3:hover{
  background-color: rgb(60, 74, 169);
  color: white;
}
.button4:hover{
  background-color: rgb(60, 74, 169);
  color: white;
}



  button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }


.box {
  transition: all 4s ease-in-out;
}

/* .box {
    background:url("/assets/bgtest.png"); 
 background-repeat: no-repeat;
 background-size:100% 100%;
    position:absolute;
    background-color: rgb(48, 21, 73);
    
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  } */

  .main{
    opacity: 100%;
  }

  .flex {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    
    height: 300px;
    justify-content: space-around;
   
   
    
}

.title-div{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    align-items: flex;
    
    justify-content: center;
    vertical-align: middle;
    
    
    align-items: center;
}

.board{
    display: flex;
    height: 10vh;
    margin-left: auto;
  margin-right: auto;
  display: block;
    align-items: center;
    align-self: center;
    width: 100%;
    justify-content: center;
    
    
    align-items: center;

    background-image: url("../../assets/board6.png");

    background-repeat: no-repeat;
    background-size: contain;
}
.divisao{
    width: 40px;
    height: 40px;
}
/* img{
    height: 12vh;
} */
h2{
    text-align: center;
    font-weight: bolder;
    color: aliceblue;
}


html, body {
    margin: 0;
    padding: 0;
  }
  section {
    

    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(71, 40, 197, 0.815), 
          #0e001a
        );
        /* bottom, image */

    position: absolute;
    width: 100%;
    height: 100vh;
    
  }


  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: url(https://i.imgur.com/DLD3N2t.png);
    background-color: rgba(77, 18, 133, 0.479);
    background-size: 100vw 20vh;
  }
  .wave1 {
    filter: brightness(40%);
    animation: animate 20s linear infinite;
    background-color: rgb(58, 3, 129);
    opacity: 0.3;
    animation-delay: 0s;
    top: 0;
  }
  .wave2 {
    filter: brightness(40%);
    background-color: #e7e2ff63;
    animation: animate 20s linear infinite;
    opacity: 0.3;
    background-image: url("../../assets/blank.png");
    animation-delay: 0s;
    top: 20vh;
    height: 60% ;
    
  }
  .wave3 {
    filter: brightness(40%);
    animation: animate 10s linear infinite;
    opacity: 0.3;
    background: linear-gradient(
        black,
        black,
    );
    
    animation-delay: -2s;
    transform: rotate(3.1415rad);
    
  }
 
  @keyframes animate {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 100vw;
    }
  }
  @keyframes animate2 {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -100vw;
    }
  }
  

  ::ng-deep .spinner-border{
    color: #a29bfe;

    height: 50px;
    width: 50px;
  }

  .div2{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-items: flex;
    
    justify-content: space-around;
    vertical-align: middle;
    
    width: 100%;
    height: 100%;
    align-items: center;

  }

  .loading-text  {
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
  }

  .loading-text2  {
    margin-top: 20px;
    color: aliceblue;
    font-weight:400;
    font-size: larger;
  }

  /* img{
    border-radius: 10px;
  } */

  .cancelar{
    margin-top: 20px;
  }


  .modal{
    align-self: center;
    justify-content: center;
  }
  
  
  .modal1  ::ng-deep .jw-modal-body {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 4px solid rgb(33, 6, 77);
    width: 50% !important;
    padding: 20px;
    background-image: url("../../assets/bg.png");
  background-blend-mode:multiply;
  background-color: #e4dfff ;
  background-size: cover;
  
    /* margin exposes part of the modal background */
  }
  
  
  .modal1  ::ng-deep  .jw-modal {
    justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;
    /* modal container fixed across whole screen */
    position: fixed;
    top: 20%;
    left: 35%;
  
    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
  }
  .modal1  ::ng-deep  .jw-modal h3{
    margin-bottom: 20px;
  }
  
  
  
  
  
  
.scrollit {
  overflow:scroll;
  height:30vh;
  margin-bottom: 1rem;
  width: 24vw;
}



h4{
  color: azure;
}

label{
  color: aliceblue;
}
.row33{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  padding: 2%;
  margin-left: 2vw;
}
.row{
  margin-left: 2vw;
  
  margin-bottom: 2vh;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

th{
  color: rgb(0, 0, 0);
}

td{
  color: rgb(0, 0, 0);
}

  
  
::ng-deep table table-bordered{
  --bs-table-border-color: transparent  !important
}
  
  .modal2 ::ng-deep .jw-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    border-radius: 50px;
    border: 4px solid rgb(33, 6, 77);
    align-self: center;
    align-items: center;
    align-content: center;
    width: 70% !important;
    height: 5vh;
    padding: 20px;
    background-image: url("../../assets/bg.png");
  background-blend-mode:multiply;
  background-color: #e4dfff ;
  background-size: cover;
  
    /* margin exposes part of the modal background */
  }
  
  
  .modal2  ::ng-deep  .jw-modal {
    justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;
    /* modal container fixed across whole screen */
    position: fixed;
    top: 25%;
    left: 25%;
  
    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
  }
  .modal2  ::ng-deep  .jw-modal h3{
    margin-bottom: 20px;
  }
  
  .modal2  ::ng-deep  .jw-modal p{
    margin-bottom: 2vh;
  }


  ::ng-deep table table-bordered{
    --bs-table-border-color: transparent  !important
  }
    
    .modalShop ::ng-deep .jw-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      border-radius: 50px;
      border: 4px solid rgb(33, 6, 77);
      align-self: center;
      align-items: center;
      align-content: center;
      width: 80% !important;
      height: 56vh;
      padding: 20px;
      background-image: url("../../assets/bg.png");
      
    background-blend-mode:multiply;
    background-color: #e4dfff ;
    background-size: cover;
    
      /* margin exposes part of the modal background */
    }
    
    
    .modalShop  ::ng-deep  .jw-modal {
      justify-content: center;
          align-self: center;
          align-items: center;
          align-content: center;
      /* modal container fixed across whole screen */
      position: fixed;
      top: 20%;
      left: 15%;
    
      /* z-index must be higher than .jw-modal-background */
      z-index: 1000;
      
      /* enables scrolling for tall modals */
      overflow: auto;
    }
    .modalShop ::ng-deep  .jw-modal h3{
    }
    
    .modalShop  ::ng-deep  .jw-modal p{
    }

    

  .button{
    height: 40px;
    font-weight: bold;
    background-color: rgb(196, 215, 255);
    border-radius: 20px;
    box-shadow: 0px 2px black ;
    width: 70%;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }

  .buttonShop{
    height: 40px;
    font-weight: bold;
    background-color: rgb(196, 215, 255);
    border-radius: 20px;
    box-shadow: 0px 2px black ;
    width: 30%;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }

  button:hover{
    background-color: rgb(60, 74, 169);
    color: white;
}

  button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }


  .show-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .show-col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .shop-row{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    align-items: center;
    vertical-align:middle;
    justify-content: space-around;
    
  }
  .shop-item{
    padding: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    background-color: #aa9bfe63;
    border-radius: 6%;
    border:#230c50 2px solid;
  }

  .shop-item:hover{
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #39034144;
    transform: scale(1.1);
  }


  .buy-money{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    vertical-align:middle;
    justify-content: space-between;
  }
  .coin-bg{

    align-self: center;
    justify-content: end;
    align-items: center;
    vertical-align: baseline;
    text-align: center;
    height: 15vh;
    font-weight: bolder;
    width: 7vw;
    color: rgb(36, 0, 56);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/coins_temp.png");
  }

  .coin-flex{
    border-radius: 1rem;
    background-color: #130c502c;


    border: 2px solid black;

    padding: 1rem;
  }
 
  .item-price{
    font-weight: bolder;
    font-size:x-large;
  }



  .coin-buy ::ng-deep .jw-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    border-radius: 50px;
    border: 4px solid rgb(33, 6, 77);
    align-self: center;
    align-items: center;
    align-content: center;
    width: 50% !important;
    height: 24vh;
    padding: 20px;
    background-image: url("../../assets/bg.png");
  background-blend-mode:multiply;
  background-color: #e4dfff ;
  background-size: cover;
  
    /* margin exposes part of the modal background */
  }
  
 
  .image-cropper-selected {
    width: auto;
    height: 10vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .image-cropper {
    width: auto;
    height: 10vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
.image-cropper:hover{
  border: 2px solid rgb(26, 0, 73);
  filter: brightness(70%);
}

  .circle2 {
    display: inline;
    margin: 0 auto;
    border-radius: 100%;
    background-image: url('../../assets/change.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    top: 70%;
    left: 60%;
    height: 25%;
    width: 25%;
  }

  .circle2:hover{
    transform: scale(1.1);
    background-color: #30129baf;
    filter: brightness(60%);
  }
  
  .coin-buy  ::ng-deep  .jw-modal {
    justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;
    /* modal container fixed across whole screen */
    position: fixed;
    top: 40%;
    left: 30%;
  
    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
  }
  .coin-buy ::ng-deep  .jw-modal h3{
    margin-bottom: 20px;
  }
  
  .coin-buy  ::ng-deep  .jw-modal p{
    margin-bottom: 2vh;
  }



  .modal-avatar ::ng-deep .jw-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    justify-items: center;
    border-radius: 50px;
    border: 4px solid rgb(33, 6, 77);
    align-self: center;
    align-items: center;
    align-content: center;
    width: 60% !important;

    height: 60%;
    padding: 10px;
    background-image: url("../../assets/bg.png");
  background-blend-mode:multiply;
  background-color: #e4dfff ;
  background-size: cover;
  
    /* margin exposes part of the modal background */
  }
  
  
  .modal-avatar  ::ng-deep  .jw-modal {
    justify-content: center;
        align-self: center;
        align-items: center;
        align-content: space-around;
    /* modal container fixed across whole screen */
    position: fixed;
    top: 15%;
    left: 25%;
  
    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
  }

  .modal-avatar ::ng-deep .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #0d0018;
    opacity: 0.2;
    
    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}

.row-emoji{
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.flex-column-emoji{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    
    text-align: center;
    align-items: center;
    align-items: center;
    align-self:center;
    justify-content: center;
}

.emoji{
    cursor: pointer;
    font-size: 2rem;
    height: 6vh;
    opacity: 0.7;
    width: 6vh;
}

.emoji:hover{
    opacity: 1;
    filter: brightness(120%);
    transform: scale(1.2);
}

.form {
    background-color: #fff;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    padding: 0rem;
    padding-top: 30px;
    padding-bottom: 20px;
  
    background-image: url("../../assets/bg.png");
    background-blend-mode:multiply;
    background-color: #e4dfffea ;
    margin-top: 10px;
    background-size: cover;
    width: 40vw;
  
    border: 4px solid rgb(48, 24, 136);
    border-radius: 50px;
    box-shadow: 0 10px 15px -3px rgb(129, 51, 202), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: large;
    line-height: 1rem;
    padding-bottom: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: #1f003b;
    
  }


  .form-group{
    flex-direction: column;
    flex: content;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
  }
  .flex-column{
    flex-direction: column;
    flex: content;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
  }


  .login-row{
    flex-direction: row;
    
    align-items: center;
    align-self: center;
    align-content: space-around;
    display: flex;
  }
  .flex-row{
    flex-direction: row;
    flex: content;
    align-items: center;
    align-self: center;
    align-content: space-between;
    display: flex;
  }

  .div{
    width: 2vw;
    height: 40px;
  }


  .input-group {
   
    margin-bottom: 20px;
    position: relative;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 20px !important;
    background-color: #f0f0f067;
    padding: 0.7rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    bottom:25px;
    color: #000000;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }

   .input:focus{
    background-color: #8652b43f !important;
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #530372;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-90%) scale(0.8);
    background-color: #82319b00;
    padding: 0 .2em;
    color: #000508;
   }

  .avatar-img{
    z-index: 0;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    
  }



  

 

  .descricao{
    width: 34vw;
    flex-direction: row;
    display: flex;
    align-self: safe;
    align-content: space-around;
    align-items: start;
    justify-content: space-around;
    justify-self: start;
    justify-items: start;
    margin-bottom: 10px;
    text-align: center;
  }

  .space{
    height: 4vh;
  }
  
  .space2{
    height: 20vh;
  }

  .buttons-space{
    width: 34vw;
    flex-direction: row;
    display: flex;
    align-self: safe;
    align-content: space-around;
    align-items: start;
    justify-content: space-around;
    justify-self: start;
    justify-items: start;
    margin-bottom: 10px;
    text-align: center;
  }

  .test{
    width: 39vw;
    flex-direction: row;
    display: flex;
    align-self: safe;
    align-content: space-around;
    align-items: start;
    justify-content: space-around;
    justify-self: start;
    justify-items: start;
  }

  .money{
    flex-direction: row;
    display: flex;
    align-self: center;
    align-content: space-between;
    align-items: center;
    margin-right: 1vw;
  }

  .user{

    flex-direction: column;
    display: flex;
    align-self: center;
    align-content: space-between;
    align-items: center;
    margin-right: 1vw;
    
  }

  .animation{
    padding-top: 70px;
    flex-direction: row;
    flex: content;
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-content: center;
    display: flex;
  }


  .animation {
    opacity: 0;
    animation: opacityOn 3s normal forwards;
    animation-iteration-count: infinite;
}
@keyframes opacityOn {
  0% {
    opacity: 1;
}
25% {
    opacity: 0.2;
}
50% {
    opacity: 1;
}
75% {
    opacity: 0.2;
}
100% {
    opacity: 1;
}
}


.input{
  width: 20vw;

}

.backdropFix { 
  z-index: -1 
}
.modal-backdrop {
  color: #000000;
  bottom: 0;
  position: fixed;
}

.modal-backdrop.fade {
  opacity: 0.7;
}


.button-avatar{
    height: 40px;
    font-weight: bold;
    background-color: rgb(196, 215, 255);
    border-radius: 20px;
    box-shadow: 0px 2px black ;
    width: 70%;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   

}