<section style="z-index:-100">
    <div class="wave wave1" style="z-index:-900"></div>
    <div class="wave wave2" style="z-index:-900"></div>
    <div class="wave wave3" style="z-index:-900"></div>


    <div class="gameFlex">
        <div class="infoGame">

            <div>
                Peças: 9
            </div>
            <div>
                Peças conquistas:2
            </div>
            <div><button class="button2">ENCERRAR TURNO</button></div>
        </div>
        <div id="gameBoard" style="display: block;background-color: white;"> <!-- game board -->
            <!-- Create lines of board -->
            <div class="fieldLineHorizontal" style="width: 60vmin; transform: translate(-30vmin,-30vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 40vmin; transform: translate(-20vmin,-20vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate(-10vmin,-10vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate(-30vmin,  0vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate( 10vmin,  0vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate(-10vmin, 10vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 40vmin; transform: translate(-20vmin, 20vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 60vmin; transform: translate(-30vmin, 30vmin);"></div>
            <div class="fieldLineVertical" style="height: 60vmin; transform: translate(-30vmin,-30vmin);"></div>
            <div class="fieldLineVertical" style="height: 40vmin; transform: translate(-20vmin,-20vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate(-10vmin,-10vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate(  0vmin,-30vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate(  0vmin, 10vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate( 10vmin,-10vmin);"></div>
            <div class="fieldLineVertical" style="height: 40vmin; transform: translate( 20vmin,-20vmin);"></div>
            <div class="fieldLineVertical" style="height: 60vmin; transform: translate( 30vmin,-30vmin);"></div>

            <div id="winnerScreen" onclick="Menu.ReturnToMenu();" style="display: none;">
                <div>
                    <span id="winnerScreenText">White wins!</span>
                    <br>
                    (Click anywhere to go to menu.)
                </div>
            </div>
            <div class="field fieldMoveable" style="transform: translate(-30vmin, -30vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(0vmin, -30vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(30vmin, -30vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-20vmin, -20vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(0vmin, -20vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(20vmin, -20vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-10vmin, -10vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(0vmin, -10vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(10vmin, -10vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-30vmin, 0vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-20vmin, 0vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-10vmin, 0vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(10vmin, 0vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(20vmin, 0vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(30vmin, 0vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-10vmin, 10vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(0vmin, 10vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(10vmin, 10vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-20vmin, 20vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(0vmin, 20vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(20vmin, 20vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(-30vmin, 30vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(0vmin, 30vmin);"></div>
            <div class="field fieldMoveable" style="transform: translate(30vmin, 30vmin);"></div>
            <div class="stoneBlack" style="transform: translate(40vmin, -30vmin);background-color: {{corLadoA}};"></div>
            <div class="stoneBlack" style="transform: translate(40vmin, -22.5vmin);background-color: {{corLadoA}};">
            </div>
            <div class="stoneBlack" style="transform: translate(40vmin, -15vmin);background-color: {{corLadoA}};"></div>
            <div class="stoneBlack" style="transform: translate(40vmin, -7.5vmin);background-color: {{corLadoA}};">
            </div>
            <div class="stoneBlack" style="transform: translate(40vmin, 0vmin);background-color: {{corLadoA}};"></div>
            <div class="stoneBlack" style="transform: translate(40vmin, 7.5vmin);background-color: {{corLadoA}};"></div>
            <div class="stoneBlack" style="transform: translate(40vmin, 15vmin);background-color: {{corLadoA}};"></div>
            <div class="stoneBlack" style="transform: translate(40vmin, 22.5vmin);background-color: {{corLadoA}};">
            </div>
            <div class="stoneBlack" style="transform: translate(40vmin, 30vmin);background-color: {{corLadoA}};"></div>
            <div class="stoneWhite" style="transform: translate(-40vmin, -30vmin);background-color: {{corLadoB}};">
            </div>
            <div class="stoneWhite" style="transform: translate(-40vmin, -22.5vmin);background-color: {{corLadoB}};">
            </div>
            <div class="stoneWhite" style="transform: translate(-40vmin, -15vmin);background-color: {{corLadoB}};">
            </div>
            <div class="stoneWhite" style="transform: translate(-40vmin, -7.5vmin);background-color: {{corLadoB}};">
            </div>
            <div class="stoneWhite" style="transform: translate(-40vmin, 0vmin);background-color: {{corLadoB}};"></div>
            <div class="stoneWhite" style="transform: translate(-40vmin, 7.5vmin);background-color: {{corLadoB}};">
            </div>
            <div class="stoneWhite" style="transform: translate(-40vmin, 15vmin);background-color: {{corLadoB}};"></div>
            <div class="stoneWhite" style="transform: translate(-40vmin, 22.5vmin);background-color: {{corLadoB}};">
            </div>
            <div class="stoneWhite stoneActive"
                style="transform: translate(-40vmin, 30vmin);background-color: {{corLadoB}};"></div>
        </div>
        <div class="menuInGame">


            MENU
        </div>

    </div>
</section>