<section style="z-index:-100">
    <div (click)="deselectStone()" class="wave wave1" style="z-index:-900"></div>
    <div (click)="deselectStone()" class="wave wave2" style="z-index:-900"></div>
    <div (click)="deselectStone()" class="wave wave3" style="z-index:-900"></div>


    <div class="gameFlex">
        <!-- <div class="infoGame">

            <div>
                Peças: 9
            </div>
            <div>
                Peças conquistas:2
            </div>
        </div> -->
        <div class="player-card player-card-oponent">
            <div class="card-oponent "
                style="background-color: {{nivelPeca.corLadoB}};border:2px solid {{nivelPeca.corLadoB}}">

                <div class="card-body">
                    <blockquote class="speech bubble">Did someone say <em>chimichangas?</em></blockquote>

                    <img class="card-img-top"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Breezeicons-actions-22-im-user.svg/1200px-Breezeicons-actions-22-im-user.svg.png"
                        alt="Card image cap">
                    <!-- <section> -->
                    <!-- </section> -->

                    <h5 class="card-title text-center">Mariazinha</h5>
                    <div class="peca-col">
                        <div style="font-weight: bold; font-size: 0.79rem;text-align: center;padding-bottom: 0.2rem;">
                            Peças restantes</div>
                        <div class="npecas">

                            <div class="peca-card-oponent" style="background-color: {{nivelPeca.corLadoA}}"></div>
                            <div style="font-size: 1.1rem;">
                                x2
                            </div>

                        </div>
                    </div>
                    <div class="oponent-playing" *ngIf="isPlaying">
                        <div><b>JOGANDO...</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gameBoard" style="display: block; background-color: {{nivel.corTab}};"> <!-- game board -->
            <!-- Create lines of board -->
            <div class="fieldLineHorizontal" style="width: 60vmin; transform: translate(-30vmin,-30vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 40vmin; transform: translate(-20vmin,-20vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate(-10vmin,-10vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate(-30vmin,  0vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate( 10vmin,  0vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 20vmin; transform: translate(-10vmin, 10vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 40vmin; transform: translate(-20vmin, 20vmin);"></div>
            <div class="fieldLineHorizontal" style="width: 60vmin; transform: translate(-30vmin, 30vmin);"></div>
            <div class="fieldLineVertical" style="height: 60vmin; transform: translate(-30vmin,-30vmin);"></div>
            <div class="fieldLineVertical" style="height: 40vmin; transform: translate(-20vmin,-20vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate(-10vmin,-10vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate(  0vmin,-30vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate(  0vmin, 10vmin);"></div>
            <div class="fieldLineVertical" style="height: 20vmin; transform: translate( 10vmin,-10vmin);"></div>
            <div class="fieldLineVertical" style="height: 40vmin; transform: translate( 20vmin,-20vmin);"></div>
            <div class="fieldLineVertical" style="height: 60vmin; transform: translate( 30vmin,-30vmin);"></div>

            <div id="winnerScreen" onclick="Menu.ReturnToMenu();" style="display: none;">
                <div>
                    <span id="winnerScreenText">White wins!</span>
                    <br>
                    (Click anywhere to go to menu.)
                </div>
            </div>

            <!-- TABULEIRO -->
            <div (click)="movePeca([-3,-3])" class="field fieldMoveable"
                style="transform: translate(-30vmin, -30vmin);"></div>
            <div (click)="movePeca([0,-3])" class="field fieldMoveable"
                style="transform: translate(0vmin, -30vmin);"></div>
            <div (click)="movePeca([3,-3])" class="field fieldMoveable"
                style="transform: translate(30vmin, -30vmin);"></div>
            <div (click)="movePeca([-2,-2])" class="field fieldMoveable"
                style="transform: translate(-20vmin, -20vmin);"></div>
            <div (click)="movePeca([0,-2])" class="field fieldMoveable"
                style="transform: translate(0vmin, -20vmin);"></div>
            <div (click)="movePeca([2,-2])" class="field fieldMoveable"
                style="transform: translate(20vmin, -20vmin);"></div>
            <div (click)="movePeca([-1,-1])" class="field fieldMoveable"
                style="transform: translate(-10vmin, -10vmin);"></div>
            <div (click)="movePeca([0,-1])" class="field fieldMoveable"
                style="transform: translate(0vmin, -10vmin);"></div>
            <div (click)="movePeca([1,-1])" class="field fieldMoveable"
                style="transform: translate(10vmin, -10vmin);"></div>
            <div (click)="movePeca([-3,0])" class="field fieldMoveable"
                style="transform: translate(-30vmin, 0vmin);"></div>
            <div (click)="movePeca([-2,0])" class="field fieldMoveable"
                style="transform: translate(-20vmin, 0vmin);"></div>
            <div (click)="movePeca([-1,0])" class="field fieldMoveable"
                style="transform: translate(-10vmin, 0vmin);"></div>
            <div (click)="movePeca([1,0])" class="field fieldMoveable"
                style="transform: translate(10vmin, 0vmin);"></div>
            <div (click)="movePeca([2,0])" class="field fieldMoveable"
                style="transform: translate(20vmin, 0vmin);"></div>
            <div (click)="movePeca([3,0])" class="field fieldMoveable"
                style="transform: translate(30vmin, 0vmin);"></div>
            <div (click)="movePeca([-1,1])" class="field fieldMoveable"
                style="transform: translate(-10vmin, 10vmin);"></div>
            <div (click)="movePeca([0,1])" class="field fieldMoveable"
                style="transform: translate(0vmin, 10vmin);"></div>
            <div (click)="movePeca([1,1])" class="field fieldMoveable"
                style="transform: translate(10vmin, 10vmin);"></div>
            <div (click)="movePeca([-2,2])" class="field fieldMoveable"
                style="transform: translate(-20vmin, 20vmin);"></div>
            <div (click)="movePeca([0,2])" class="field fieldMoveable"
                style="transform: translate(0vmin, 20vmin);"></div>
            <div (click)="movePeca([2,2])" class="field fieldMoveable"
                style="transform: translate(20vmin, 20vmin);"></div>
            <div (click)="movePeca([-3,3])" class="field fieldMoveable"
                style="transform: translate(-30vmin, 30vmin);"></div>
            <div (click)="movePeca([0,3])" class="field fieldMoveable"
                style="transform: translate(0vmin, 30vmin);"></div>
            <div (click)="movePeca([3,3])" class="field fieldMoveable"
                style="transform: translate(30vmin, 30vmin);"></div>

            <!--PEÇAS-->


            <!--PECA B-->
            <div [ngClass]="{'stoneSelected': verificaSelecaoPeca(coordenada,1)}" *ngFor="let coordenada of tabuleiro[0]" (click)="stoneClick(coordenada,0)" class="stoneBlack"
                style="transform:translate({{coordenada[0]*10}}vmin, {{coordenada[1]* getMultiplicadorEixoY(coordenada)}}vmin);background-color: {{nivelPeca.corLadoA}};"></div>

            <!--PECA A-->
            <div [ngClass]="{'stoneSelected': verificaSelecaoPeca(coordenada,1)}" *ngFor="let coordenada of tabuleiro[1]" (click)="stoneClick(coordenada,1)" class="stoneWhite"
                style="transform: translate({{coordenada[0]*10}}vmin, {{coordenada[1]*getMultiplicadorEixoY(coordenada)}}vmin);background-color: {{nivelPeca.corLadoB}};">
            </div>
            <!-- <div (click)="stoneClick(1,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, -22.5vmin);background-color: {{nivelPeca.corLadoB}};">
            </div>
            <div (click)="stoneClick(2,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, -15vmin);background-color: {{nivelPeca.corLadoB}};"></div>
            <div (click)="stoneClick(3,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, -7.5vmin);background-color: {{nivelPeca.corLadoB}};">
            </div>
            <div (click)="stoneClick(4,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, 0vmin);background-color: {{nivelPeca.corLadoB}};"></div>
            <div (click)="stoneClick(5,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, 7.5vmin);background-color: {{nivelPeca.corLadoB}};"></div>
            <div (click)="stoneClick(6,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, 15vmin);background-color: {{nivelPeca.corLadoB}};"></div>
            <div (click)="stoneClick(7,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, 22.5vmin);background-color: {{nivelPeca.corLadoB}};">
            </div>
            <div (click)="stoneClick(8,'.stoneBlack')" class="stoneBlack" style="transform: translate(40vmin, 30vmin);background-color: {{nivelPeca.corLadoB}};"></div>
            <div (click)="stoneClick2(0,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, -30vmin);background-color: {{nivelPeca.corLadoA}};">
            </div>
            <div (click)="stoneClick2(1,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, -22.5vmin);background-color: {{nivelPeca.corLadoA}};">
            </div>
            <div (click)="stoneClick2(2,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, -15vmin);background-color: {{nivelPeca.corLadoA}};">
            </div>
            <div (click)="stoneClick2(3,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, -7.5vmin);background-color: {{nivelPeca.corLadoA}};">
            </div>
            <div (click)="stoneClick2(4,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, 0vmin);background-color: {{nivelPeca.corLadoA}};"></div>
            <div (click)="stoneClick2(5,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, 7.5vmin);background-color: {{nivelPeca.corLadoA}};">
            </div>
            <div (click)="stoneClick2(6,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, 15vmin);background-color: {{nivelPeca.corLadoA}};"></div>
            <div (click)="stoneClick2(7,'.stoneWhite')"class="stoneWhite" style="transform: translate(-40vmin, 22.5vmin);background-color: {{nivelPeca.corLadoA}};">
            </div>
            <div (click)="stoneClick2(8,'.stoneWhite')" class="stoneWhite" style="transform: translate(-40vmin, 30vmin);background-color: {{nivelPeca.corLadoA}};"></div> -->
        </div>
        <div class="infos" *ngIf="showInfo">
            {{infoTitle}}
        </div>
        <div class="player-card player-card-me">
            <div class="card-me"
                style="background-color: {{nivelPeca.corLadoA}};border:2px solid {{nivelPeca.corLadoA}}">

                <div class="card-body">
                    <img class="card-img-top" [class.error]="isError()" src="../../assets/{{avatar}}.png"
                        alt="Card image cap">
                    <h5 class="card-title text-center">{{jogador.nome}} [Você] </h5>
                    <div class="row">
                        <!-- <p class="card-text m-none col-sm-8">
                            Peças: 9 <br />
                            Peças conquistas: 2 <br />
                        </p> -->
                        <!-- <div class="col-sm-4 m-none">
                            <a class="btn btn-primary">Emote</a>
                        </div> -->
                    </div>
                    <div class="timer">

                        <img class="ampulheta" src="../../assets/clock.gif">


                    </div>
                    <!-- <div class="npecas">

                        <div class="peca-card"></div>
                        <div style="font-size: 1.1rem;">
                            x9
                        </div>

                    </div> -->
                    <div class="peca-col">
                        <div style="font-weight: bold; font-size: 0.79rem;text-align: center;padding-bottom: 0.2rem;">
                            Peças roubadas</div>
                        <div class="npecas">

                            <div class="peca-card-oponent" style="background-color: {{nivelPeca.corLadoB}}"></div>
                            <div style="font-size: 1.1rem; ">
                                x2
                            </div>

                        </div>
                    </div>
                    <button (click)="openModal('gameemoji')" class="button" style="align-self: center;width: 50%;">
                        <img src="../../assets/emoji-icon.png" style="height: 80%;">
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="menuInGame">


            MENU
        </div> -->

    </div>
    <jw-modal id="gameemoji" class="modal2">
        <b>EMOJIS</b>
        <div class="flex-column-emoji">



            <div class="row-emoji">
                <div class="emoji" (click)="closeModal('gameemoji')">
                    😂
                </div>
                <div class="emoji">
                    😭
                </div>
                <div class="emoji">
                    😎
                </div>

            </div>

            <div class="row-emoji">
                <div class="emoji">
                    🤬
                </div>
                <div class="emoji">
                    😈
                </div>
                <div class="emoji">
                    🤡
                </div>

            </div>

            <div class="row-emoji">
                <div class="emoji">
                    💀
                </div>
                <div class="emoji">
                    🖕
                </div>
                <div class="emoji">
                    🥸
                </div>

            </div>


        </div>



        <button (click)="closeModal('gameemoji')" class="button">VOLTAR</button>
    </jw-modal>
</section>