
<form class="form">

<p class="form-title">LOGIN</p>


  

  <form class="test" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>


    <div class="login-row">

        <div class="avatar">
          <ng-lottie height="150px" [options]="options" resizeMode='center'></ng-lottie>
        </div>

      <div class="flex-column">

        <div class="input-group">
          <input required="" formControlName="name" type="text" name="text" autocomplete="off" class="input">
          <label class="user-label">Usuário</label>
        </div>
        
        <div class="input-group">
          <input required="" formControlName="senha" type="password" name="text" autocomplete="off" class="input">
          <label class="user-label" for="name">Senha</label>
        </div>
      </div>
    </div>



    
  </form>
  <button (click)="submitForm()" class="button">ENTRAR</button>

  


</form>