.form {
    background-color: #fff;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    padding: 0rem;
    padding-top: 4vh;
    padding-bottom: 4vh;
  
    background-image: url("../../assets/bg.png");
    background-blend-mode:multiply;
    background-color: #e4dfffea ;
    margin-top: 10px;
    background-size: cover;
    width: 40vw;
  
    border: 4px solid rgb(48, 24, 136);
    border-radius: 50px;
    box-shadow: 0 10px 15px -3px rgb(129, 51, 202), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .row-flex{
    height: 14vh;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    justify-items: center;
    align-self: center;
  }
  
  .form-title {
    font-size: 1.2rem;
    line-height: 1rem;
    padding-bottom: 20px;
    font-weight: bolder;
    text-align: center;
    color: #1f003b;
    
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.0rem;
    width: 50vw;
    height: 10vh;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }

  .form-group{
    flex-direction: column;
    flex: content;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
  }
  .flex-column{
    flex-direction: column;
    flex: content;
    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
  }


  .login-row{
    flex-direction: row;
    
    align-items: center;
    align-self: center;
    align-content: space-around;
    display: flex;
  }
  .flex-row{
    flex-direction: row;
    flex: content;
    align-items: center;
    align-self: center;
    align-content: space-between;
    display: flex;
  }

  .div{
    width: 2vw;
    height: 40px;
  }
  
  .submit {
    display: block;
    /* padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; */
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 50%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }

  .textbox{
    width: 200px;
  }

  .button{
    height: 40px;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 30%;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }
  .button3{
    height: 40px;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 9vw;
    margin-left: 1vw;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }

  .button4{
    height: 40px;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 9vw;
    margin-left: 1vw;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
   
  }
  button:hover{
    background-color: rgb(60, 74, 169);
    color: white;
}

  button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }

  .btnCadastro{
    height: 18px;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 40%;
    font-size: 10px;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
  }

  .btnSenha{
    height: 18px;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    width: 40%;
    font-size: 10px;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
  }


  .input-row{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1vh;
  }


  .flex-column2{
    justify-content: space-between;
    flex-direction: column;
    flex: content;
    align-items: center;
    align-self: center;
    margin-bottom: 1vh;
    align-content: center;
    display: flex;
  }

  .row-input{
    justify-content: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    align-self:center;
    justify-self: center;
    justify-items: center;
    width: 65%;
    justify-content: center;
    align-content: center;
  }

 
  
  .buttonEntrar{
    height: 6vh;
    font-weight: bold;
    background-color: rgb(252, 229, 255);
    border-radius: 20px;
    box-shadow: 0px 5px rgb(55, 19, 185) ;
    border-top: 2px red;
    border-left: 2px red;
    border-right: 2px red;
    border-color: rgb(100, 24, 172);
    border-width: 7px;
    transition: all ease 0.1s;
    width: 90%;
  }

  .input-entrar{
    justify-self: center;
  }

  /* .inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 0.4em 0 1em 0;
    max-width: 490px;
    position: relative;
    height: 50px;
    margin-left: 36px;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.4em;
    outline: none;
    border: 3px solid rgb(143, 143, 226);
    background-color:rgba(250, 239, 255, 0.562);
    border-radius: 40px;
    width: 90%;
  }
  
  .inputGroup label {
  
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
    border-radius: 10px;
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: -0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color:
      rgb(23, 16, 119);
  } */


  #custom-modal-1{
border-radius: 50px;

  }
  .input-group {
   
    margin-bottom: 20px;
    position: relative;
   }

   .input-group-email {
    position: relative;
    display: flex;
    flex-wrap: initial;
    align-items: initial;
    width: 100%;
    flex-direction: column;
  }
   

   .input-group2 {
   
    margin-bottom: 20px;
    position: relative;
   }
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 20px !important;
    background-color: #f0f0f067;
    padding: 0.7rem;

    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }

   .input2 {
    border: solid 1.5px #9e9e9e;
    border-radius: 20px !important;
    background-color: #f0f0f067;
    padding: 0.7rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    bottom:25px;
    color: #000000;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }

   .input:focus{
    background-color: #8652b43f !important;
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #720303;
   }

   .input:focus, input:invalid {
    outline: none;
    border: 1.5px solid #380031;
   }
   
   
   .input:focus ~ .user-label, input:valid ~ .user-label {
    transform: translateY(-90%) scale(0.8);
    background-color: #82319b00;
    padding: 0 .2em;
    color: #000508;
   }


   .input:focus ~ .user-label2, input:valid ~ .user-label2 {
    
    color: #000508;
   }

  .avatar{
    width: 14.7vw;
    margin: -3vw;
    margin-left: -6vw;
    opacity: 0;
    animation: opacityOn 5s normal forwards;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    
  }
  
  .test{
    flex-direction: column;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    align-items: center;

  }

  .animation{
    padding-top: 70px;
    flex-direction: row;
    flex: content;
    align-items: center;
    align-self: center;
    flex-direction: column;
    align-content: center;
    display: flex;
  }


  .animation {
    opacity: 0;
    animation: opacityOn 3s normal forwards;
    animation-iteration-count: infinite;
}
@keyframes opacityOn {
  0% {
    opacity: 1;
}
25% {
    opacity: 0.2;
}
50% {
    opacity: 1;
}
75% {
    opacity: 0.2;
}
100% {
    opacity: 1;
}
}


.input{
  width: 20vw;

}

.input-register{
  width: 30vw;
  border: solid 1.5px #9e9e9e;
    border-radius: 20px !important;
    background-color: #f0f0f067;
    padding: 0.7rem;
  

    font-size: 1rem;
    color: #000000;

}



.input-register:valid {
  outline: none;
  border: 1.5px solid #3c0372;
 }

 .input-register:invalid {
  outline: none;
  border: 1.5px solid #720303;
 }


.input2{
  justify-content: space-between;
  width: 20vw;

}



.backdropFix { 
  z-index: -1 
}
.modal-backdrop {
  color: #000000;
  bottom: 0;
  position: fixed;
}

.modal-backdrop.fade {
  opacity: 0.7;
}



.modal{
  align-self: center;
  justify-content: center;
}


.modal1  ::ng-deep .jw-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: 50px;
  border: 4px solid rgb(33, 6, 77);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 50vw !important;
  padding: 20px;
  background-image: url("../../assets/bg.png");
background-blend-mode:multiply;
background-color: #e4dfff ;
background-size: cover;

  /* margin exposes part of the modal background */
}


.modal1  ::ng-deep  .jw-modal {
  justify-content: center;
      align-self: center;
      align-items: center;
      align-content: center;
  /* modal container fixed across whole screen */
  position: fixed;
  top: 25%;
  left: 25%;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
  
  /* enables scrolling for tall modals */
  overflow: auto;
}
.modal1  ::ng-deep  .jw-modal h3{
  margin-bottom: 20px;
}










.modal2 ::ng-deep .jw-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: 50px;
  border: 4px solid rgb(33, 6, 77);
  align-self: center;
  align-items: center;
  align-content: center;
  width: 70% !important;
  padding: 20px;
  background-image: url("../../assets/bg.png");
background-blend-mode:multiply;
background-color: #e4dfff ;
background-size: cover;

  /* margin exposes part of the modal background */
}


.modal2  ::ng-deep  .jw-modal {
  justify-content: center;
      align-self: center;
      align-items: center;
      align-content: center;
  /* modal container fixed across whole screen */
  position: fixed;
  top: 20%;
  left: 25%;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
  
  /* enables scrolling for tall modals */
  overflow: auto;
}
.modal2  ::ng-deep  .jw-modal h3{
  margin-bottom: 20px;
}

.modal2  ::ng-deep  .jw-modal p{
  margin-bottom: 2vh;
}


.foundEmail-user{
  border: 0.1rem solid black;
  padding: 1rem;
  border-radius: 1.3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  width: 40%;
  
}