.tabuleiro{
    color: #f9fde4;
    background-image: url("../../assets/image2.png");
    background-size: contain;
    background-color: antiquewhite;
    border: solid 1px black;
    border-radius: 10px;
    height: 80px;
    width: 78px;
    margin: 20px;
}